<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule to handle everything but the requests for API, Content, or other folders -->
        <rule name="Redirect to EN" stopProcessing="true">
        <match url="^en-US/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- Add any other folders you want to exclude from the SPA routing here -->
            <add input="{REQUEST_URI}" pattern="^/(api|content|other-folder)/" negate="true" />
          </conditions>
        <action type="Rewrite" url="en-US/index.html" />
        </rule>

        <!-- Default rule to serve index.html -->
        <rule name="Rewrite all other requests" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/href/en-us/{R:0}" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
